@{
    ViewData["Title"] = "Ana Səhifə";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="font-secondary text-primary mb-4">Super Dadlı</h1>
                <h1 class="display-1 text-uppercase text-white mb-4">Cannes Cake</h1>
                <h1 class="text-uppercase text-white">Ən Yaxşı Tortlar</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a asp-controller="Menu" asp-action="Index" class="btn btn-primary border-inner py-3 px-5 me-5">Menyu</a>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/-Nckfxm_RU0" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                    <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Video İzlə</h5>
                </div>
            </div>
        </div>  
    </div>
</div>
<!-- Hero End -->

<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Bağla"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Haqqımızda</h2>
            <h1 class="display-4 text-uppercase">Cannes Cake-ə Xoş Gəldiniz</h1>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/assets/img/about.jpg" style="object-fit: cover;" alt="Haqqımızda">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4">Biz hər bir tortu sevgi və ustalıqla hazırlayırıq. Keyfiyyətli təbii inqrediyentlər istifadə edirik</h4>
                <p class="mb-5">Cannes Cake olaraq, müştərilərimizə ən yüksək keyfiyyətli tortlar təqdim etməyi hədəfləyirik. Hər bir tortumuz təzə və təbii inqrediyentlərlə hazırlanır. Ad günü, toy, nişan və xüsusi münasibətlər üçün xüsusi tortlar sifariş edə bilərsiniz.</p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-heartbeat fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">100% Təbii</h4>
                        <p class="mb-0">Bütün tortlarımız təbii inqrediyentlərdən hazırlanır. Heç bir süni qatqı istifadə etmirik.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-award fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Mükafatlı</h4>
                        <p class="mb-0">Peşəkar komandamız tərəfindən hazırlanan tortlarımız müxtəlif mükafatlara layiq görülmüşdür.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-star text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Təcrübə (il)</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">10</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Usta Aşpazlar</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">15</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Tamamlanmış Sifarişlər</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">5000</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-mug-hot text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Xoşbəxt Müştərilər</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">4997</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Menyu & Qiymətlər</h2>
            <h1 class="display-4 text-uppercase">Tortlarımızı Kəşf Edin</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                <li class="nav-item">
                    <a class="nav-link text-white active" data-bs-toggle="pill" href="#tab-1">Ad Günü</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-2">Toy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-3">Xüsusi</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-1.jpg" alt="Klassik Ad Günü Tortu" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼45.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Klassik Ad Günü Tortu</h5>
                                    <span>Vanil kremlə örtülmüş, rəngarəng bəzəklərlə süslənmiş ənənəvi ad günü tortu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-1.jpg" alt="Şokoladlı Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼55.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Şokoladlı Ad Günü Tortu</h5>
                                    <span>Zəngin şokolad kremlə hazırlanmış, şokolad parçaları ilə bəzədilmiş tort</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-1.jpg" alt="Meyvəli Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼60.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Meyvəli Ad Günü Tortu</h5>
                                    <span>Təzə meyvələrlə bəzədilmiş, yüngül kremlə hazırlanmış mövsümi tort</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-1.jpg" alt="Fondant Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼80.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Fondant Ad Günü Tortu</h5>
                                    <span>Xüsusi dizaynla hazırlanmış fondant örtüklü premium ad günü tortu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-2.jpg" alt="Klassik Toy Tortu" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼150.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Klassik Toy Tortu</h5>
                                    <span>Ağ fondant ilə örtülmüş, zərif çiçək bəzəkli ənənəvi toy tortu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-2.jpg" alt="3 Mərtəbəli Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼250.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">3 Mərtəbəli Toy Tortu</h5>
                                    <span>Üç mərtəbəli, əl ilə hazırlanmış şəkər çiçəkləri ilə bəzədilmiş tort</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-2.jpg" alt="Premium Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼350.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Premium Toy Tortu</h5>
                                    <span>5 mərtəbəli, qızıl bəzəkli, kristal dekorlu lüks toy tortu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-2.jpg" alt="Nişan Tortu" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼120.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Nişan Tortu</h5>
                                    <span>Romantik dizaynlı, ürək formasında bəzəklərlə süslənmiş nişan tortu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-3.jpg" alt="Foto Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼70.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Foto Tort</h5>
                                    <span>Şəxsi foto ilə çap olunmuş, xüsusi anlar üçün hazırlanmış tort</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-3.jpg" alt="Tematik Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼90.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Tematik Tort</h5>
                                    <span>İstənilən mövzuda xüsusi dizayn edilmiş tematik tort sifarişi</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-3.jpg" alt="Korporativ Tort" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼100.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Korporativ Tort</h5>
                                    <span>Şirkət loqosu və rəngləri ilə hazırlanmış korporativ tədbirlər üçün tort</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="~/assets/img/cake-3.jpg" alt="Mini Tortlar" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">₼35.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Mini Tortlar (6 ədəd)</h5>
                                    <span>Müxtəlif dadlarda hazırlanmış mini tort dəsti, qonaqlar üçün ideal</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

<!-- Service Start -->
<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <h4 class="text-uppercase mb-3">Ad Günü Tortları</h4>
                    <p>Uşaqlar və böyüklər üçün xüsusi dizaynlı ad günü tortları hazırlayırıq. İstənilən mövzu və ölçüdə.</p>
                    <a class="text-uppercase text-dark" asp-controller="Menu" asp-action="Index">Ətraflı <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <h4 class="text-uppercase mb-3">Toy Tortları</h4>
                    <p>Ən xüsusi gününüz üçün möhtəşəm çox mərtəbəli toy tortları. Hər detal sizin zövqünüzə uyğun.</p>
                    <a class="text-uppercase text-dark" asp-controller="Menu" asp-action="Index">Ətraflı <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <h4 class="text-uppercase mb-3">Xüsusi Dizayn</h4>
                    <p>Təxəyyülünüzü reallığa çeviririk. Foto tort, 3D tort, fondant tort — istədiyiniz hər şeyi hazırlaya bilərik.</p>
                    <a class="text-uppercase text-dark" asp-controller="Menu" asp-action="Index">Ətraflı <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 text-center">
                <h1 class="text-uppercase text-light mb-4">Bu Yay 30% Endirim!</h1>
                <a asp-controller="Contact" asp-action="Index" class="btn btn-primary border-inner py-3 px-5">İndi Sifariş Et</a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Komandamız</h2>
            <h1 class="display-4 text-uppercase">Usta Aşpazlarımız</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-1.jpg" alt="Əli Həsənov">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Əli Həsənov</h4>
                        <p class="text-white m-0">Baş Aşpaz</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-2.jpg" alt="Nərmin Əliyeva">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Nərmin Əliyeva</h4>
                        <p class="text-white m-0">Tort Dizayneri</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-3.jpg" alt="Rəşad Məmmədov">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Rəşad Məmmədov</h4>
                        <p class="text-white m-0">Pasta Ustası</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                    <h2 class="text-primary font-secondary">Xüsusi Kombo Paket</h2>
                    <h1 class="display-4 text-uppercase text-white">Super Dadlı Tortlar</h1>
                </div>
                <p class="text-white mb-4">Xüsusi münasibətlər üçün kombo paketlərimizdən yararlanın. Ad günü, nişan və ya toy üçün tort + cupcake + macarons dəsti sifariş edin və 20% endirim qazanın!</p>
                <a asp-controller="Contact" asp-action="Index" class="btn btn-primary border-inner py-3 px-5 me-3">Sifariş Et</a>
                <a asp-controller="About" asp-action="Index" class="btn btn-dark border-inner py-3 px-5">Ətraflı</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Müştəri Rəyləri</h2>
            <h1 class="display-4 text-uppercase">Müştərilərimiz Nə Deyir?</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="~/assets/img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="Aygün Məmmədova">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">Aygün Məmmədova</h4>
                        <span>Müəllim</span>
                    </div>
                </div>
                <p class="mb-0">
                    Qızımın ad günü üçün sifariş etdiyimiz tort həm görünüş, həm də dad baxımından əla idi. Bütün qonaqlarımız heyran qaldı!
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="~/assets/img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="Rəşad Əliyev">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">Rəşad Əliyev</h4>
                        <span>İş Adamı</span>
                    </div>
                </div>
                <p class="mb-0">
                    Toyumuz üçün sifariş etdiyimiz 3 mərtəbəli tort əsl sənət əsəri idi. Vaxtında çatdırılma və peşəkar xidmət üçün təşəkkür!
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="~/assets/img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="Leyla Hüseynova">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">Leyla Hüseynova</h4>
                        <span>Dizayner</span>
                    </div>
                </div>
                <p class="mb-0">
                    Şirkətimizin illik yubileyi üçün korporativ tort sifariş etdik. Loqomuz mükəmməl şəkildə hazırlanmışdı!
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="~/assets/img/testimonial-4.jpg" style="width: 60px; height: 60px;" alt="Kamran Nəsibov">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">Kamran Nəsibov</h4>
                        <span>Proqramçı</span>
                    </div>
                </div>
                <p class="mb-0">
                    Həyat yoldaşımın ad günü üçün sürpriz tort sifariş etdim. Xüsusi dizayn, əla dad və mükəmməl xidmət!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
