@model CANNESCAKE.Models.Category

@{
    ViewData["Title"] = "Kateqoriya Detalları";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kateqoriya Detalları</h4>
                <table class="table table-borderless mt-3">
                    <tr>
                        <th style="width: 150px;">Ad</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Açıqlama</th>
                        <td>@(Model.Description ?? "Qeyd olunmayıb")</td>
                    </tr>
                    <tr>
                        <th>Tort sayı</th>
                        <td>@Model.Cakes.Count</td>
                    </tr>
                </table>
                <div class="mt-3">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success me-2"><i class="mdi mdi-pencil"></i> Redaktə Et</a>
                    <a asp-action="Index" class="btn btn-light">Geri</a>
                </div>
            </div>
        </div>
    </div>
</div>
