@{
    ViewData["Title"] = "About Us";
}

<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">About Us</h1>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a asp-controller="About" asp-action="Index">About</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">About Us</h2>
            <h1 class="display-4 text-uppercase">Welcome To Cannes Cake</h1>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/assets/img/about.jpg" style="object-fit: cover;" alt="About Cannes Cake">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4">Biz hər bir tortu sevgi və ustalıqla hazırlayırıq. Keyfiyyətli təbii inqrediyentlər istifadə edirik</h4>
                <p class="mb-5">Cannes Cake olaraq, müştərilərimizə ən yüksək keyfiyyətli tortlar təqdim etməyi hədəfləyirik. Hər bir tortumuz təzə və təbii inqrediyentlərlə hazırlanır. Ad günü, toy, nişan və xüsusi münasibətlər üçün xüsusi tortlar sifariş edə bilərsiniz.</p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-heartbeat fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">100% Təbii</h4>
                        <p class="mb-0">Bütün tortlarımız təbii inqrediyentlərdən hazırlanır. Heç bir süni qatqı istifadə etmirik.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-award fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Mükafatlı</h4>
                        <p class="mb-0">Peşəkar komandamız tərəfindən hazırlanan tortlarımız müxtəlif mükafatlara layiq görülmüşdür.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-star text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Təcrübə</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">10</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Aşpazlar</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">15</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Sifarişlər</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">5000</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-mug-hot text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Xoşbəxt Müştərilər</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">3000</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Why Choose Us Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Niyə Biz?</h2>
            <h1 class="display-4 text-uppercase">Bizi Seçməyiniz Üçün Səbəblər</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <div class="d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 90px; height: 90px;">
                        <i class="fa fa-birthday-cake fa-3x text-dark"></i>
                    </div>
                    <h4 class="text-uppercase mb-3">Xüsusi Dizayn</h4>
                    <p>Hər bir tortumuz müştərimizin istəyinə uyğun xüsusi dizayn ilə hazırlanır. Təxəyyülünüzü reallığa çeviririk.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <div class="d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 90px; height: 90px;">
                        <i class="fa fa-truck fa-3x text-dark"></i>
                    </div>
                    <h4 class="text-uppercase mb-3">Çatdırılma</h4>
                    <p>Tortlarınızı istədiyiniz ünvana vaxtında və təhlükəsiz şəkildə çatdırırıq. Pulsuz çatdırılma xidmətimiz var.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <div class="d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 90px; height: 90px;">
                        <i class="fa fa-leaf fa-3x text-dark"></i>
                    </div>
                    <h4 class="text-uppercase mb-3">Təbii İnqrediyentlər</h4>
                    <p>Yalnız ən keyfiyyətli və təbii inqrediyentlərdən istifadə edirik. GMO-suz və konservantsız məhsullar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->

<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Komandamız</h2>
            <h1 class="display-4 text-uppercase">Usta Aşpazlarımız</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-1.jpg" alt="Aşpaz 1">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Əli Həsənov</h4>
                        <p class="text-white m-0">Baş Aşpaz</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-2.jpg" alt="Aşpaz 2">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Nərmin Əliyeva</h4>
                        <p class="text-white m-0">Tort Dizayneri</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/assets/img/team-3.jpg" alt="Aşpaz 3">
                        <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">Rəşad Məmmədov</h4>
                        <p class="text-white m-0">Pasta Ustası</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->